.bbox {
  position: absolute;
  /* top: 0px;
  left: 0px; */
  box-sizing: border-box;
}

.overlap-indicator{
  backround-color: red;
  color:blue;
  position: absolute;
  width: 6px;
  height: 6px;
    border: 1px solid #ddd; /* Gray border */
  /* border-radius: 50%; /*magic to turn square into circle */
}

.cursor {
  pointer-events: none;
  z-index: 99999;
  opacity: .7;
  position: absolute;
}

.cursor-lines {
  position: relative;
}

.vt {
  position: absolute;
  top: 0px;
  width: 1px;
  background: red;
}

.hl {
  position: absolute;
  left: 0px;
  height: 1px;
  background: red;
}
